@import "../node_modules/bulma/bulma";
@import "colors";
@import "components/_all";

* {
    font-family: Vazir;
}

body {
    direction: rtl;
    font-size: 14px;
}

a {
    color: $black-color;

    &:hover,
    &:active,
    &:focus {
        color: $primary-color;
    }
}
