* {
    font-family: Vazir !important;
}

body {
    direction: rtl;
}

.instagram-section {
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 20%,
        #dc2743 40%,
        #cc2366 60%,
        #bc1888 80%,
        #285aeb 110%
    );
}
