@font-face {
    font-family: Vazir;
    src: url("../assets/fonts/Vazir-Regular.eot");
    src: url("../assets/fonts/Vazir-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../assets/fonts/Vazir-Regular.woff2") format("woff2"),
        url("../assets/fonts/Vazir-Regular.woff") format("woff"),
        url("../assets/fonts/Vazir-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("../assets/fonts/Vazir-Bold.eot");
    src: url("../assets/fonts/Vazir-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../assets/fonts/Vazir-Bold.woff2") format("woff2"),
        url("../assets/fonts/Vazir-Bold.woff") format("woff"),
        url("../assets/fonts/Vazir-Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
}
